 <div class = "ui inverted blue segment">
        <div class="ui five stackable cards">
            <div class = "card">
                 <span class="content centre">
                <h3 class = "ui header"> {{station.title}} </h3>
                 </span>
              </div>
            <div class="card">
                <span class="content centre">
                <h3 class="ui header"> Weather
                    <div class="sub header">{{station.code}}</div>
                </h3>
                </span>
              </div>
            <div class="card">
                <span class="content centre">
                <h3 class="ui header"> Temperature
                <div class="sub header">{{station.tempC}} C</div>
                  <div class="sub header">{{station.tempF}} F</div>
                </h3>
                </span>
            </div>
          <div class="card">
                <span class="content centre">
                <h3 class="ui header"> Wind
                <div class="sub header">{{station.windBft}} Bft</div>
                </h3>
                </span>
            </div>
          <div class="card">
                <span class="content centre">
                <h3 class="ui header"> Pressure
                <div class="sub header">{{station.pressure}} hpa</div>
                </h3>
                </span>
            </div>
        </div>
    </div>