 <div class = "ui inverted blue segment">
        <div class="ui five stackable cards">
            <div class = "card">
                 <span class="content centre">
                <h3 class = "ui header"> {{station.title}} </h3>
                 </span>
              </div>
            <div class="card">
                <span class="content centre">
                <h3 class="ui header"> Weather
                    <div class="sub header">{{code}}</div>
                </h3>
                </span>
              </div>
            <div class="card">
                <span class="content centre">
                <h3 class="ui header"> Temp
                <div class="sub header">{{temperature}}</div>
                </h3>
                </span>
            </div>
          <div class="card">
                <span class="content centre">
                <h3 class="ui header"> Wind
                <div class="sub header">{{windSpeed}}</div>
                </h3>
                </span>
            </div>
          <div class="card">
                <span class="content centre">
                <h3 class="ui header"> Pressure
                <div class="sub header">{{pressure}}</div>
                </h3>
                </span>
            </div>
        </div>
    </div>